<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Medical_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Medical_.My.MySettings.Medical_dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Medical+db.accdb"
            providerName="System.Data.OleDb" />
        <add name="Medical_.My.MySettings.Medical_dbConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ABHISHEK JADHAV\Desktop\Medical+db.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Medical_.My.MySettings>
            <setting name="Admin" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Employee" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Adminback" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Employeeback" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Adminfore" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Employeefore" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Expiryday" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="adclock" serializeAs="String">
                <value />
            </setting>
            <setting name="emclock" serializeAs="String">
                <value />
            </setting>
            <setting name="billno" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ownername" serializeAs="String">
                <value />
            </setting>
            <setting name="employeename" serializeAs="String">
                <value />
            </setting>
        </Medical_.My.MySettings>
    </userSettings>
</configuration>
